#NET iClk100Mhz		LOC = "Y13";
#NET "iClk100Mhz" 	TNM_NET = "iClk100Mhz";
#TIMESPEC "TS_iClk100Mhz" = PERIOD "iClk100Mhz" 10 ns;

# ADC related
NET ADC_DATA_CLOCK  	LOC ="P25" 	|IOSTANDARD = LVCMOS33 |SLEW="FAST";
#NET oEMIF_DCM_CLOCK   	LOC ="P25" 	|IOSTANDARD = LVCMOS33 |SLEW="FAST" |DRIVE=16;

# DA part
NET EXP2_ADS_CLKOUT			LOC = "Y14"  | IOSTANDARD = LVDS_25;
NET EXP2_ADS_CLKOUTM		LOC = "AA14" | IOSTANDARD = LVDS_25;

NET EXP2_ADS_DA_P<0>   		LOC ="AD21" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_N18"      
NET EXP2_ADS_DA_M<0>  		LOC ="AE21" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_P18"      

NET EXP2_ADS_DA_P<1>   		LOC ="AC21" | IOSTANDARD = LVDS_25 ; # "EXP2_DIFF_N19"
NET EXP2_ADS_DA_M<1>  		LOC ="AD22" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_P19"

NET EXP2_ADS_DA_P<2>   		LOC ="Y15"  | IOSTANDARD = LVDS_25; # "EXP2_DIFF_N16"      
NET EXP2_ADS_DA_M<2>  		LOC ="AA15" | IOSTANDARD = LVDS_25 ; # "EXP2_DIFF_P16"      

NET EXP2_ADS_DA_P<3>   		LOC ="Y17" 	| IOSTANDARD = LVDS_25; # "EXP2_DIFF_N17"
NET EXP2_ADS_DA_M<3>   		LOC ="AA17" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_P17"

NET EXP2_ADS_DA_P<4>   		LOC ="AE20" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_N15"
NET EXP2_ADS_DA_M<4>   		LOC ="AF20" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_P15"

NET EXP2_ADS_DA_P<5>   		LOC ="AB15" | IOSTANDARD = LVDS_25 ; # "EXP2_DIFF_N14" 
NET EXP2_ADS_DA_M<5>  		LOC ="AC15" | IOSTANDARD = LVDS_25 ; # "EXP2_DIFF_P14"      

NET EXP2_ADS_DA_P<6>   		LOC ="AE6"  | IOSTANDARD = LVDS_25; # "EXP2_DIFF_N12" 
NET EXP2_ADS_DA_M<6>  		LOC ="AF5"  | IOSTANDARD = LVDS_25; # "EXP2_DIFF_P12" 

# DB part
#NET EXP2_ADS_DB_P<0>   		LOC ="AE18" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_N13"
#NET EXP2_ADS_DB_M<0>   		LOC ="AF18" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_P13"
#
#NET EXP2_ADS_DB_P<1>   		LOC ="AD17" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_N11"
#NET EXP2_ADS_DB_M<1>   		LOC ="AE17" | IOSTANDARD = LVDS_25; # "EXP2_DIFF_P11"
#
#NET EXP2_ADS_DB_P<2>  		LOC ="AC14" | IOSTANDARD = LVDS_25 ; # "EXP2_DIFF_N9" 
#NET EXP2_ADS_DB_M<2>  		LOC ="AD14" | IOSTANDARD = LVDS_25 ; # "EXP2_DIFF_P9" 
#
#NET EXP2_ADS_DB_P<3>  		LOC ="AF10" | IOSTANDARD = LVDS_25 ; # "EXP2_DIFF_N7" 
#NET EXP2_ADS_DB_M<3>  		LOC ="AE10" | IOSTANDARD = LVDS_25 ; # "EXP2_DIFF_P7" 
#
#NET EXP2_ADS_DB_P<4> 		LOC ="AF4" 	| IOSTANDARD = LVDS_25; # "EXP2_DIFF_N5"       
#NET EXP2_ADS_DB_M<4>  		LOC ="AE4" 	| IOSTANDARD = LVDS_25; # "EXP2_DIFF_P5"       
#
#NET EXP2_ADS_DB_P<5>  		LOC ="W12" 	| IOSTANDARD = LVDS_25; # "EXP2_DIFF_N3"       
#NET EXP2_ADS_DB_M<5>  		LOC ="V12" 	| IOSTANDARD = LVDS_25; # "EXP2_DIFF_P3"       
#
#NET EXP2_ADS_DB_P<6>  		LOC ="AB7"  | IOSTANDARD = LVDS_25; # "EXP2_DIFF_N1"       
#NET EXP2_ADS_DB_M<6>  		LOC ="AC8"  | IOSTANDARD = LVDS_25; # "EXP2_DIFF_P1"

#Created by Constraints Editor (xc3sd3400a-fg676-5) - 2012/01/09
#NET "EXP2_ADS_CLKOUT" TNM_NET = EXP2_ADS_CLKOUT;
#TIMESPEC TS_EXP2_ADS_CLKOUT = PERIOD "EXP2_ADS_CLKOUT" 36 MHz HIGH 50%;
#
#OFFSET = IN 6.94445 ns VALID 13.8889 ns BEFORE "EXP2_ADS_CLKOUT" RISING;
#OFFSET = IN 6.94445 ns VALID 13.8889 ns BEFORE "EXP2_ADS_CLKOUT" FALLING;

NET oLed<0>   		LOC = "N24"	|IOSTANDARD = LVCMOS33 ;
NET oLed<1>   		LOC = "P23"	|IOSTANDARD = LVCMOS33 ;
NET oLed<2>   		LOC = "R26"	|IOSTANDARD = LVCMOS33 ;
NET oLed<3>   		LOC = "R25"	|IOSTANDARD = LVCMOS33 ;
NET oLed<4>   		LOC = "V25"	|IOSTANDARD = LVCMOS33 ;
NET oLed<5>   		LOC = "Y25"	|IOSTANDARD = LVCMOS33 ;
NET oLed<6>   		LOC = "T24"	|IOSTANDARD = LVCMOS33 ;
NET oLed<7>   		LOC = "U24"	|IOSTANDARD = LVCMOS33 ;

#NET iPushButtonN<0>	LOC = "AE1" | PULLUP;
#NET iPushButtonN<1>	LOC = "AA5" | PULLUP;
#NET iPushButtonN<2>	LOC = "Y3" 	| PULLUP;

NET iDipSwitchN<0>	LOC = "K7" | PULLUP;
NET iDipSwitchN<1>	LOC = "J1" | PULLUP;
NET iDipSwitchN<2>	LOC = "J2" | PULLUP;
NET iDipSwitchN<3>	LOC = "G1" | PULLUP;
NET iDipSwitchN<4>	LOC = "L7" | PULLUP;
NET iDipSwitchN<5>	LOC = "M8" | PULLUP;
NET iDipSwitchN<6>	LOC = "M7" | PULLUP;
NET iDipSwitchN<7>	LOC = "K1" | PULLUP;

#NET oTP6			LOC = "L10";

# USB related ports
#NET	oUsbWakeup				LOC = "K2"	| IOSTANDARD = LVCMOS33;

NET USB_FIFO_FLAG_A_LVL			LOC = "V2"	| IOSTANDARD = LVCMOS33; # USB_FLAGA_LVL
NET USB_FIFO_FLAG_B_FULL_L		LOC = "V1"	| IOSTANDARD = LVCMOS33; # USB_FLAGB_FULL_L
NET USB_FIFO_FLAG_C_EMPTY_L		LOC = "U2"	| IOSTANDARD = LVCMOS33; # USB_FLAGC_EMPTY_L
NET USB_FIFO_SLRD_L				LOC = "M10"	| IOSTANDARD = LVCMOS33; # USB_SLRD_L
NET USB_FIFO_SLWR_L				LOC = "M9"	| IOSTANDARD = LVCMOS33; # USB_SLWR_L

NET USB_DATA_BUS<0>				LOC = "AD2"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<1>				LOC = "AD1"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<2>				LOC = "AC2"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<3>				LOC = "AC1"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<4>				LOC = "AB1"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<5>				LOC = "AA2"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<6>				LOC = "Y2"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<7>				LOC = "Y1"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<8>				LOC = "H1"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<9>				LOC = "H2"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<10>			LOC = "P6"	| IOSTANDARD = LVCMOS33;
NET USB_DATA_BUS<11>			LOC = "P7"	| IOSTANDARD = LVCMOS33; 
NET USB_DATA_BUS<12>			LOC = "N4"	| IOSTANDARD = LVCMOS33; 
NET USB_DATA_BUS<13>			LOC = "N5"	| IOSTANDARD = LVCMOS33;  
NET USB_DATA_BUS<14>			LOC = "M3"	| IOSTANDARD = LVCMOS33;  
NET USB_DATA_BUS<15>			LOC = "M4"	| IOSTANDARD = LVCMOS33;

NET USB_FIFO_SLOE_L				LOC = "R1"	| IOSTANDARD = LVCMOS33; # USB_SLOE_L
NET USB_FIFO_ADDR<0>			LOC = "P1"	| IOSTANDARD = LVCMOS33; # USB_FIFOADDR
NET USB_FIFO_ADDR<1>			LOC = "P3"	| IOSTANDARD = LVCMOS33;  # USB_FIFOADDR
#NET USB_PKT_END_N				LOC = "N1"	| IOSTANDARD = LVCMOS33; # USB_PKTEND_L
NET USB_SLCS_L					LOC = "N2"	| IOSTANDARD = LVCMOS33; # USB_SLCS_L

NET USB_IFCLK        			LOC = "F13"	| IOSTANDARD = LVCMOS33; # USB_IFCLK
#NET USB_IFCLK PERIOD = 20 ns;
 
NET USB_RST_L        			LOC = "M2" | IOSTANDARD = LVCMOS33  | PULLUP; # USB_RST_L

NET RESET_N						LOC = "AE1"	| PULLUP ; # push button sw2NET reset_n			LOC = "AE1" | PULLUP;

